.book-form {
  color: black;
  padding: 2em;
  overflow-y: visible;
}

.book-form label {
  font-weight: bold;
  font-size: 1.2rem;
}

.book-form-row {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}

.book-form-row > * {
  width: 100%;
  text-align: center;
}

.book-form-row.author-form {
  padding-top: 1em;
  border-top: 1px solid #ddd;
}

.book-form-row + .book-form-row {
  margin-top: 0.5em;
}

.book-form-column {
  justify-content: center;
  display: flex;
  gap: 10px;
}

.create-author-btn,
.create-book-btn,
.add-author-btn,
.remove-image-btn {
  border-radius: 0.5em;
  width: 40px;
  height: 40px;
  background-color: #45b398;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.create-author-btn,
.create-book-btn {
  width: 7rem;
  font-weight: bold;
}

.add-author-btn:hover,
.create-author-btn:hover {
  background-color: #41c8aa;
}

.remove-image-btn {
  position: absolute;
  z-index: 1;
  top: -0.5em;
  background-color: #972527;
}

.remove-image-btn:hover {
  background-color: #aa2723;
}

.book-cover {
  cursor: pointer;
  width: 100%;
  object-fit: cover;
}

.book-cover-container {
  position: relative;
  z-index: 1;
  width: 70%;
}
