.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 1rem;
  background-color: #f1f1f1;
  color: black;
  width: 70%;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  align-self: center;
}

.login-form-title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.login-form-label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.login-form-input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 100%;
}

.login-form-login-button {
  font-weight: bold;
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 7rem;
  transition: all 0.2s ease-in-out;
}

.login-form-login-button:hover {
  background-color: #0062cc;
}

.login-form-register-button {
  background-color: #f0ad4e;
}

.login-form-register-button:hover {
  background-color: #ec971f;
}

.login-form-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
