.book-card {
  position: relative;
  height: 650px;
  min-width: 70%;
  width: 100px;
  border: none;
  border-radius: 0.25rem;
  margin: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.book-card-header {
  font-size: 1.5rem;
  padding: 0;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.book-card-header > img {
  display: block;
  width: 100%;
  max-height: 290px;
  aspect-ratio: 1/1.6;
  object-position: center;
  object-fit: cover;
  transition: 200ms transform ease-in-out;
  z-index: 1;
}

.book-card:hover > .book-card-header > img {
  transform: scale(1.025);
}

.book-card-actions {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  padding: 0.2em;
}

.book-card-btn {
  display: block;
  border-radius: 0.5em;
  width: 40px;
  height: 40px;
  background-color: #45b398;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.book-card-actions > .book-card-btn:hover {
  background-color: #41c8aa;
}

.book-card-btn.delete-book {
  background-color: #972527;
}

.book-card-actions > .book-card-btn.delete-book:hover {
  background-color: #aa2723;
}

.book-card-btn + .book-card-btn {
  margin-top: 1rem;
}

.book-card-body {
  padding: 0 1rem;
}

.book-card-body-group {
  text-align: center;
}

.book-card-body-group > * {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

.book-card-body-group + .book-card-body-group {
  margin-top: 0.5rem;
}

.book-card-footer {
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 0;
}

@media only screen and (min-width: 769px) {
  .book-card {
    width: 280px;
    min-width: unset;
  }
}
